.content__countries{
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px
  }
  
  .content__countries_block{
    display: flex;
    padding: 5px;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  
  .countries__block_list{
    padding: 5px;
    box-sizing: border-box;
    min-height: 50px;
    min-width: 300px;
    border: solid 1px;
    cursor: pointer;  
  }
  .countries__block_list:hover{
box-shadow: 0px 5px 5px
  }

